.task-cover-menu {
    h4 {
        @include font(12px, 16px, 600);
        color: var(--text-color-subtle);
        margin-bottom: 4px;
    }

    .btn-secondary {
        margin-top: 4px;
        padding: 6px 12px;
        width: 280px;
        justify-content: center;
    }

    .colors {
        display: grid;
        grid-template-columns: repeat(5, 50px);
        gap: 8px;
        padding: 4px;
        margin-inline-start: -4px;
        margin-inline-end: -4px;

        .btn-color {
            height: 32px;
            border-radius: 3px;

            &.selected {
                box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px,
                    rgb(12, 102, 228) 0px 0px 0px 4px;
            }

            &:not(.selected):hover {
                filter: saturate(85%) brightness(85%);
            }
        }
    }
}
