* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: unset;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

body {
    @include font-family();
}

h1 {
    @include font(18px, 32px, bold);
}

h2 {
    @include font(14px, 20px, 600);
}

h3 {
    @include font(12px, 20px, 600);
}

button {
    cursor: pointer;
    @include font-family();
}

#app {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
