* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: var(--text-color);
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    @include font(14px, 20px, 500);
}

body {
    @include font-family();
}

h1 {
    @include h1();
}

h2 {
    @include font(14px, 20px, 600);
}

h3 {
    @include h3();
}

p {
    @include font-p();
}

input {
    @include font-family();
}

button {
    cursor: pointer;
    @include font-family();
}

#app {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}
