.app-content {
    height: 100%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;

    &.full {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

.btn-primary {
    @include btn-primary();
}

.btn-secondary-centered {
    @include btn-secondary-centered();
}

.btn-danger {
    @include btn-danger();
}

.btn-circle {
    @include btn-circle();
}

.btn-square {
    @include btn-square();
}

.btn-square-sharp {
    @include btn-square();
    border-radius: 3px;
}

.btn-dynamic {
    @include btn-dynamic();
}

.btn-dynamic-wide {
    @include btn-dynamic();
    padding-inline-start: 12px;
    padding-inline-end: 12px;
}

.task-dates-status {
    &-complete {
        background-color: var(--bg-success-bold);
        color: var(--text-inverse);
    }

    &-due-soon {
        background-color: var(--bg-warning-bold);
        color: var(--text-warning-inverse);
    }

    &-recently-overdue {
        background-color: var(--bg-danger-bold);
        color: var(--text-inverse);
    }

    &-past-due {
        background-color: var(--bg-danger);
        color: var(--text-danger);
    }
}

.confirmation-menu {
    width: 280px;

    button {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

.group-menu-clickable-item {
    padding: 6px 12px;
    margin: 0 -12px;
    cursor: pointer;
    @include font-p();
    @include button-bg(
        transparent,
        var(--bg-neutral-hovered),
        var(--bg-neutral-pressed)
    );
}

.link {
    color: var(--text-link);
    @include font-p();

    &:hover {
        text-decoration: underline;
    }
}

.btn-link-small {
    @include btn-link-small();
}
