* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    font-size: 14px;
    line-height: 20px;
}

body {
    @include font-family();
    @include prevent-select();
}

h1 {
    @include h1();
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

p,
pre {
    @include font-p();
}

a,
button {
    color: inherit;
}

input,
textarea,
pre {
    @include font-family();
}

button {
    cursor: pointer;
    font-family: inherit;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 1px;
    background-color: var(--bg-divider);
}

/* Scrollbar - for Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #00000020;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #00000010;
    border-radius: 4px;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ffffff40;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #00000010;
    margin: 0px 12px;
}

#app {
    height: 100vh;
}
