.task-details-sidebar {
    grid-area: sidebar;
    width: 168px;
    padding-inline-end: 16px;
    padding-inline-start: 8px;
    padding-bottom: 8px;

    hr {
        height: 1px;
        background-color: var(--bg-divider);
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .btn-delete {
        @include button-bg(
            var(--bg-danger-bold),
            var(--bg-danger-bold-hovered),
            var(--bg-danger-bold-pressed)
        );
        & > * {
            color: var(--text-inverse);
        }
    }

    section {
        margin-bottom: 24px;

        h3 {
            margin-bottom: -4px;
        }

        .content {
            button {
                width: 100%;
                margin-top: 8px;
                padding-inline-start: 8px;
                padding-inline-end: 12px;
                padding-top: 6px;
                padding-bottom: 6px;

                .icon {
                    @include font-size-and-line-height(18px);
                }
            }
        }
    }
}
