.task-list-container {
    margin: 0px -4px;
    padding: 2px 4px;
    overflow-y: auto;
}

.task-list {
    display: flex;
    flex-direction: column;

    li:not(:last-child) > * {
        margin-bottom: 8px;
    }
}
