.task-preview-full-cover {
    min-height: 40px;
    display: grid;

    .bg-color {
        grid-area: 1 / 1;
        height: 56px;
    }

    .bg-image {
        grid-area: 1 / 1;
        width: 100%;
    }

    .title-container {
        grid-area: 1 / 1;
        align-self: end;
        height: 25%;
        width: 100%;
        padding: 8px 8px 8px 12px;
        display: flex;
        align-items: end;

        &.gradient-dark {
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #000000 100%
            );
            color: #ffffff;
        }

        &.gradient-light {
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #ffffff 100%
            );
            color: var(--text-color);
        }

        .title {
            @include font(16px, 20px, 500);
        }
    }
}
