.task-preview-full-cover {
    min-height: 40px;

    align-items: end;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: end;

    .title-container {
        height: 25%;
        width: 100%;
        padding: 8px 8px 8px 12px;
        display: flex;
        align-items: end;

        &.gradient-dark {
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #000000 100%
            );
            color: #ffffff;
        }

        &.gradient-light {
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #ffffff 100%
            );
            color: var(--text-color);
        }
    }
}
