.board-menu-activity {
    .topbar {
        padding-bottom: 12px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        border-bottom: 1px solid var(--ds-border);
        > button {
            padding: 8px;
            @include button-bg(
                transparent,
                var(--ds-background-neutral-subtle-hovered),
                var(--ds-background-neutral-subtle-pressed)
            );
            border-radius: 8px;
            @include flex-center-center();

            &.selected {
                background-color: var(--ds-background-selected);
                color: var(--ds-text-selected);
            }
        }
    }
}
