.board-create-form {
    display: flex;
    flex-direction: column;

    label {
        @include font(12px, 16px, 700);
        color: var(--text-color-subtle);
    }

    input {
        box-shadow: var(--box-shadow-input);
        border-radius: 3px;
        padding: 8px 12px;
        margin-top: 2px;
        @include font-p();
    }

    .create-btn {
        margin-top: 16px;
    }
}
