.board-details-menu-item {
    @include button-bg(
        transparent,
        var(--bg-neutral-subtle-hovered),
        var(--bg-neutral-subtle-pressed)
    );
    border-radius: 8px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    cursor: pointer;

    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;

    .title {
        @include font(14px, 20px, 400);
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
