.board-details-topbar {
    display: flex;
    justify-content: space-between;

    .start-container {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .end-container {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .editable-title {
        .title {
            border-radius: 3px;
            @include board-details-editable-title();

            &:hover {
                background-color: var(--bg-neutral-hovered);
            }
        }

        textarea {
            @include board-details-editable-title();
        }
    }

    .board-filter {
        justify-self: end;
    }

    .separator {
        border-left: 1px solid var(--dynamic-text-transparent);
        height: 16px;
        margin: 8px 4px 8px 4px;
        display: inherit;
    }
}
