.board-details-menu {
    grid-area: 2 / 2 / -1 / span 1;
    box-sizing: border-box;
    width: 339px;
    align-self: stretch;
    background-color: var(--bg-1);
    z-index: 1;

    header {
        display: grid;
        align-items: center;
        padding-inline-start: 12px;
        padding-inline-end: 12px;

        .title {
            grid-area: 1 / 1;
            justify-self: center;
            padding: 18px 0;
            @include font(16px, 20px, 500);
        }

        .btn-close {
            grid-area: 1 / 1;
            justify-self: end;
        }

        & > hr {
            margin-top: -1px;
            margin-bottom: 0;
        }
    }

    .content {
        padding: 12px;
        display: grid;

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .divider {
        height: 1px;
        background-color: var(--bg-divider);
    }
}
