.board-index-header {
    grid-area: 1 / 1;
    width: 100%;
    padding: 8px;
    padding-inline-start: 24px;
    background-color: var(--bg-1);
    box-sizing: border-box;
    border-bottom: 0.8px solid var(--board-index-header-border-bottom-color);
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    align-items: center;
    column-gap: 26px;

    .logo {
        height: 16px;
    }

    .user-avatar {
        justify-self: end;
        @include square(32px);
        border-radius: 50%;
        @include flex-center-center();
        @include button-bg(
            transparent,
            var(--bg-neutral-hovered),
            var(--bg-neutral-hovered)
        );

        img {
            border-radius: 50%;
            @include square(24px);
        }
    }
}
