.board-preview {
    width: 200px;
    height: 96px;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    overflow: hidden;
    @include prevent-select();
    cursor: pointer;

    .board-preview-contents {
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.3);
        display: grid;
        grid-template-rows: 8px auto 20px 12px;
        grid-template-columns: 8px 1fr 20px 12px;

        .link {
            grid-area: 1 / 1 / -1 / -1;
        }

        .board-title {
            grid-area: 2 / 2 / span 1 / span 2;
            color: var(--text-color-light);
            @include font(16px, 20px, 700);
        }

        .star-icon {
            grid-area: 3 / 3;
            margin-inline-end: -70px;
            align-self: center;
            justify-self: center;
            color: white;
            transition: margin-inline-end 0.2s, font-size 0.2s;
            font-size: 16px;
            z-index: 20;
        }

        .star-icon:hover {
            font-size: 20px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        &:hover .star-icon {
            margin-inline-end: 0;
        }
    }
}
