.board-filter {
    .btn-filter {
        margin-inline-end: 4px;
        padding: 6px;
        border-radius: 3px;
        @include button-bg(
            transparent,
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
