.board-index {
    .board-list-container {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
        padding-top: 20px;
    }

    .board-list-title {
        text-transform: uppercase;
        padding-bottom: 20px;
    }
}
