.board-details {
    height: 100%;
    background-position: 50%;
    background-size: cover;

    .board-canvas {
        margin-top: 12px;
    }

    .task-group-list {
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        display: flex;
        gap: 12px;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 2;
    opacity: 50%;
    background-color: black;
    min-width: 100%;
    min-height: 100%;
    transition: visibility 0.2s, opacity 0.2s;

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
}
