.board-details {
    height: 100%;
    background-position: 50%;
    background-size: cover;

    .board-canvas {
        margin-top: 12px;
    }

    .task-group-list {
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        display: flex;
        gap: 12px;
    }
}
