.home {
    font-family: 'Charlie Text', sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(992px, 1320px) 1fr;
    grid-template-areas:
        '. header  .'
        'content content content';

    & > .content {
        grid-area: content;
        color: #091e42;

        h1 {
            @include font(48px, 60px, 500);
        }

        h2 {
            @include font(36px, 48px, 500);
            padding-bottom: 16px;
            margin-bottom: 8px;
        }

        p,
        a {
            @include font(20px, 30px, 400);
        }

        a {
            text-decoration: underline;
            color: #0052cc;

            &:hover {
                color: #0747a6;
            }
        }

        .intro {
            padding: 16px;
            width: 633px;
        }

        h2 {
            letter-spacing: -1px;
        }

        .home-section-title {
            @include font(16px, 20px, 500);
            text-transform: uppercase;
            margin-bottom: 8px;
        }
    }
}
