#home {
    font-family: 'Charlie Text', sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(992px, 1320px) 1fr;
    grid-template-areas:
        '. header  .'
        '. content .';

    .content {
        grid-area: content;
    }
}
