#home {
    font-family: 'Charlie Text', sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(992px, 1320px) 1fr;
    grid-template-areas:
        '. header  .'
        'content content content';

    & > .content {
        grid-area: content;

        h1 {
            color: var(--text-inverse);
            @include font(48px, 60px, 500);
        }

        p {
            color: var(--text-inverse);
            @include font(20px, 30px, 400);
        }
    }
}
