.task-details-bg {
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    @include square(100%);
    z-index: 5;
    padding-top: 48px;
    padding-bottom: 48px;
    overflow: auto;

    .task-details {
        position: relative;
        margin: auto;
        border-radius: 12px;
        width: 768px;
        overflow: hidden;
        background-color: var(--bg-2);
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        align-content: start;

        grid-template-areas:
            'cover  cover'
            'archive archive'
            'header header'
            'main   sidebar';

        .cover {
            height: 116px;
            grid-area: cover;
        }

        .main {
            grid-area: main;
            width: 552px;
            padding-inline-start: 16px;
            padding-inline-end: 8px;
            padding-bottom: 8px;

            .widgets {
                margin-top: 8px;
                margin-inline-start: 40px;
                margin-bottom: 8px;
                display: flex;
                gap: 8px;
            }
        }
    }
}
