.task-details-bg {
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 48px;

    .task-details {
        position: relative;
        border-radius: 8px;
        width: 768px;
        height: 500px;
        background-color: var(--task-details-bg-color);
        overflow: hidden;

        .close-btn {
            position: absolute;
            top: 16px;
            right: 16px;
        }

        .header {
            display: grid;
            grid-template-columns: 16px 1fr 16px;
            grid-template-rows: auto 16px auto;

            .cover {
                grid-area: 1 / 1 / span 1 / -1;
                height: 116px;
            }

            .title {
                grid-area: 3 / 2;
            }
        }

        .body {
            display: grid;
        }
    }
}
