.task-details-bg {
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    @include square(100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
    overflow: auto;

    .task-details {
        position: relative;
        border-radius: 8px;
        width: 768px;
        background-color: var(--bg-2);
        overflow: hidden;
        display: grid;
        grid-template-columns: 16px 1fr 16px 168px 16px;
        grid-template-rows: repeat(3, auto);
        align-content: start;

        grid-template-areas:
            'cover cover  cover  cover   cover'
            '.     header header header  .    '
            '.     main   .      sidebar .    ';

        .close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
        }

        .cover {
            height: 116px;
            grid-area: cover;
        }

        .header {
            grid-area: header;
            display: grid;
            grid-template-columns: 56px 1fr;
            grid-template-rows: 20px auto 4px auto;
            align-items: center;
            .icon {
                grid-area: 2 / 1;
                justify-self: center;
            }

            .title {
                grid-area: 2 / 2;
                @include font(20px, 24px, 600);
            }
            .subtitle {
                grid-area: 4 / 2;

                .group-title {
                    text-decoration: underline;
                    @include font-p();
                    cursor: pointer;
                }
            }
        }

        .main {
            grid-area: main;
        }
    }
}
