.app-modal {
    background-color: var(--bg-1);
    position: absolute;
    top: 40px;
    left: 300px;
    box-shadow: var(--box-shadow-strong);
    border-radius: 8px;

    header {
        padding: 4px 8px;
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        align-items: center;
        justify-items: center;

        h2 {
            grid-area: 1 / 2;
            color: var(--text-color-subtle);
            @include font(14px, 40px, 600);
        }
        .close-btn {
            grid-area: 1 / 3;
            .icon {
                color: var(--icon-color-subtle);
                font-size: 16px;
            }
        }
    }

    .content {
        padding: 0px 12px 12px 12px;
    }
}
