.avatar {
    border-radius: 50%;
    overflow: hidden;
    display: grid;

    &.xs {
        @include square(24px);
    }

    &.sm {
        @include square(32px);
    }

    .overlay {
        grid-area: 1 / 1;

        &:hover {
            background-color: var(--bg-light-overlay);
        }
    }

    img {
        width: 100%;
        height: 100%;
        grid-area: 1 / 1;
        object-fit: contain;
    }
}
