.editable-title {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: start;

    .title {
        grid-area: 1 / 1;
        display: inline-block;
    }

    form {
        grid-area: 1 / 1;
        display: none;

        & > input {
            background-color: var(--bg-1);
            border-radius: 3px;
            box-shadow: var(--box-shadow-input-focused);
            outline: none;
        }
    }

    &.edit {
        & > form {
            display: unset;
        }
        & > h1 {
            display: none;
        }
    }
}
