.editable-title {
    display: grid;
    grid-template-columns: min-content;

    .title {
        grid-area: 1 / 1;
        justify-self: stretch;
        display: block;
        cursor: pointer;
        white-space: nowrap;
    }

    form {
        grid-area: 1 / 1;
        display: grid;

        textarea {
            @include textarea-styling();
        }
    }
}
