.checklist {
    .content {
        @include task-details-subsection-grid();

        .progress-bar {
            grid-area: 1 / 1 / span 1 / -1;
            @include task-details-subsection-grid();
            align-items: center;
            margin-bottom: 8px;

            .label {
                justify-self: center;
            }

            .bar {
                grid-column: 3;
            }
        }

        .items {
            grid-area: 2 / 1 / span 1 / -1;
        }

        .add-item {
            grid-area: 3 / 3;

            margin-top: 8px;
            justify-self: start;

            .add-btn {
                display: none;
            }

            &.hide-form {
                .add-btn {
                    display: unset;
                }

                .checklist-item-create-form {
                    display: none;
                }
            }
        }
    }
}
