.checklist-item-actions-menu {
    .content {
        padding: 0px;
        padding-bottom: 8px;
    }
    .btn-actions-menu {
        width: 304px;

        @include button-bg(
            transparent,
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );
        padding: 6px 12px;

        .label {
            @include font-p();
        }
    }
}
