.task-details-checklist-item {
    @include task-details-subsection-grid();
    align-items: center;

    .checkbox {
        grid-area: 1 / 1;
        @include square(16px);
        justify-self: center;
        padding-bottom: 4px;
    }

    .title-container {
        grid-area: 1 / 3;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        @include button-bg(
            transparent,
            var(--bg-neutral-subtle-hovered),
            var(--bg-neutral-subtle-pressed)
        );

        margin-inline-start: -8px;
        padding-inline-start: 8px;
        padding-inline-end: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 10px;

        .title {
            @include font-p();

            &.done {
                text-decoration: line-through;
            }
        }

        .actions {
            visibility: hidden;
            justify-self: end;

            .circle-btn {
                @include button-bg(
                    var(--bg-neutral),
                    var(--bg-neutral-hovered),
                    var(--bg-neutral-pressed)
                );

                @include square(24px);
                .icon {
                    @include font-size-and-line-height(16px);
                }
            }
        }
    }

    &:hover {
        .actions {
            visibility: visible;
        }
    }
}
