.btn-member {
    height: 40px;
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    @include button-bg(
        var(transparent),
        var(--bg-neutral-hovered),
        var(--bg-neutral-pressed)
    );
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr;
    gap: 8px;
    align-items: center;

    .title {
        @include font-p();
    }

    .check-icon {
        justify-self: end;
        padding-inline-start: 11px;
        padding-inline-end: 11px;
    }
}
