.members-badge {
    flex-grow: 1;
    margin-inline-end: -4px;
    display: flex;
    justify-content: end;

    ul {
        display: flex;
        column-gap: 4px;

        > li > .avatar {
            margin-bottom: 4px;
        }
    }
}
