.task-cover-menu-size {
    ul {
        padding: 4px;
        margin: 0 -4px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        li {
            box-sizing: border-box;
            height: 62px;
            width: 134px;
            border-radius: 3px;
            border: 1px solid var(--ds-border, #091e4224);
            overflow: hidden;
            cursor: pointer;

            &:hover {
                filter: saturate(85%) brightness(85%);
            }

            &:active {
                filter: saturate(70%) brightness(70%);
            }

            &.selected {
                box-shadow: 0 0 0 2px var(--ds-border-inverse, #ffffff),
                    0 0 0 4px var(--ds-border-brand, #0c66e4);
                filter: none;
            }
        }

        .cover {
            background-color: var(--ds-background-accent-gray-subtler);
            background-size: cover;
        }

        .size-small {
            .cover {
                height: 28px;
            }
        }

        .size-large {
            position: relative;
            .contents {
                position: absolute;
                bottom: 4px;

                .mock-row {
                    background-color: var(--ds-surface-raised);
                    opacity: 0.8;
                }
            }
        }
    }

    .contents {
        padding: 6px 4px 4px 6px;

        .mock-row {
            height: 4px;
            border-radius: 2px;
            width: 122px;
            background-color: var(--ds-background-accent-gray-subtle);
        }

        .mock-row-2 {
            margin-top: 4px;
            width: 98px;
        }

        .mock-row-3 {
            margin-top: 2px;
            display: grid;
            grid-template-columns: auto auto 1fr;

            .mock-small {
                width: 16px;
                height: 6px;
                margin-top: 4px;
                border-radius: 2px;
                margin-inline-end: 2px;
                background-color: var(--ds-background-accent-gray-subtle);
            }

            .mock-circle {
                background-color: var(--ds-background-accent-gray-subtle);
                border-radius: 50%;
                @include square(10px);
                justify-self: end;
            }
        }
    }

    &.disabled {
        .size-small {
            .mock-row,
            .mock-circle,
            .mock-small {
                background-color: var(
                    --ds-background-accent-gray-subtler
                ) !important;
            }
        }

        .size-small,
        .size-large {
            filter: none;
        }

        li {
            cursor: auto;
        }
    }
}
