.task-cover-menu-colors {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 8px;
    padding: 4px;
    margin-inline-start: -4px;
    margin-inline-end: -4px;

    .btn-color {
        height: 32px;
        border-radius: 3px;

        &.selected {
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px,
                rgb(12, 102, 228) 0px 0px 0px 4px;
        }

        &:not(.selected):hover {
            filter: saturate(85%) brightness(85%);
        }
    }
}
