.task-cover-menu {
    h4 {
        @include font(12px, 16px, 600);
        color: var(--text-color-subtle);
        margin-bottom: 4px;
    }

    .btn-remove-cover {
        margin-top: 4px;
    }
}
