.home-footer {
    background-color: rgb(23, 43, 77);

    .content {
        width: 1440px;
        margin-inline-start: auto;
        margin-inline-end: auto;
        display: grid;

        .social-media-links {
            justify-self: end;
            padding: 16px;
            width: 285px;
            display: flex;
            justify-content: space-between;

            .social-media-link {
                box-sizing: border-box;
                border: 2px solid white;
                @include square(24px);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    @include square(12px);
                    transition: width 0.2s, height 0.2s;
                }

                &:hover img {
                    @include square(10px);
                }
            }
        }
    }
}
