@mixin font($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin font-p() {
    @include font(14px, 20px, 400);
}

@mixin h1() {
    @include font(18px, 32px, bold);
}

@mixin h2() {
    @include font(14px, 20px, 600);
}

@mixin h3() {
    @include font(12px, 20px, 600);
}

@mixin prevent-select() {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@mixin task-details-main-subsection {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-template-rows: 16px auto 12px auto;
    align-items: center;

    .icon {
        grid-area: 2 / 1;
        justify-self: center;
    }

    .title {
        grid-area: 2 / 2;
        font-size: 16px;
    }

    .title-btn {
        grid-area: 2 / 2;
        justify-self: end;
    }
}

@mixin font-family() {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Noto Sans', Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@mixin square($size) {
    height: $size;
    width: $size;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-bg($normal, $hovered, $pressed) {
    background-color: $normal;

    &:hover {
        background-color: $hovered;
    }

    &:active {
        background-color: $pressed;
    }
}

@mixin outline-emphasis() {
    outline: 2px solid var(--outline-emphasis-color);
}

@mixin primary-btn-danger() {
    @include button-bg(
        var(--bg-primary-btn-danger),
        var(--bg-primary-btn-danger-hovered),
        var(--bg-primary-btn-danger-pressed)
    );
}

// reuse for .title and for input
@mixin board-details-editable-title {
    padding: 0px 10px;
    @include h1();
}

// reuse for .title and for input
@mixin group-editable-title {
    padding-inline-start: 12px;
    padding-inline-end: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    @include h2();
}
