@mixin font($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin prevent-select() {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
