:root {
    // COLORS

    // generic bg colors
    --bg-1: #ffffff;
    --bg-2: #f1f2f4;

    // neutral background (semi-transparent)
    --bg-neutral: #091e420f;
    --bg-neutral-hovered: #091e4224;
    --bg-neutral-pressed: #091e424f;

    // text color
    --text-color: #172b4d;
    --text-color-light: #ffffff;

    // neutral subtle background
    --bg-neutral-subtle: #00000000;
    --bg-neutral-subtle-hovered: #091e420f;
    --bg-neutral-subtle-pressed: #091e4224;

    // primary button
    --bg-primary-btn: #0c66e4;
    --bg-primary-btn-hovered: #0055cc;
    --bg-primary-btn-pressed: #15326b;
    --text-color-primary-btn: #ffffff;

    // components
    --bg-board-header: #ffffff3d;
    --board-index-header-border-bottom-color: rgba(23, 43, 77, 0.16);

    // misc
    --outline-emphasis-color: #000000;

    // BOX SHADOW
    --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
}
