:root {
    // colors
    --board-index-header-bg-color: #ffffff;
    --board-index-header-border-bottom-color: rgba(23, 43, 77, 0.16);
    --text-color: #172b4d;
    --primary-button-bg-color: #0c66e4;
    --primary-button-text-color: #ffffff;
    --board-header-bg-color: #ffffff3d;
    --task-group-bg-color: #f1f2f4;
    --task-preview-bg-color: #ffffff;
    --task-preview-hover-outline-color: #000000;
    --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
}
