.task-move-menu {
    .content {
        width: 280px;

        & > h4 {
            @include font(12px, 16px, 600);
            margin-top: 16px;
            margin-bottom: 8px;
        }

        .destination {
            display: grid;
            gap: 8px;
            margin-bottom: 16px;
            grid-template-columns: repeat(2, auto);

            .board-select {
                grid-area: 1 / 1 / span 1 / -1;
            }

            .group-select {
                grid-area: 2 / 1;
            }

            .position-select {
                grid-area: 2 / 2;
            }
        }
    }
}
