.task-move-menu {
    .content {
        width: 280px;

        h4 {
            @include font(12px, 16px, 600);
            color: var(--text-color-subtle);
        }

        .h4-title {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .task-copy-title {
            width: 100%;
            margin-top: 4px;
            @include textarea-styling();
            resize: vertical;
        }

        .h4-destination-move {
            margin-top: 16px;
            margin-bottom: 8px;
        }

        .h4-destination-copy {
            margin-top: 12px;
            margin-bottom: 4px;
        }

        .destination {
            display: grid;
            gap: 8px;
            margin-bottom: 16px;
            grid-template-columns: 3fr 1fr;

            .board-select {
                grid-area: 1 / 1 / span 1 / -1;
            }

            .group-select {
                grid-area: 2 / 1;
            }

            .position-select {
                grid-area: 2 / 2;
            }
        }
    }
}
