.task-attachment-menu {
    .content {
        position: relative;

        h5 {
            @include font(14px, 16px, 600);
            margin-bottom: 4px;
        }

        .btn-choose-file {
            margin-top: 12px;
        }

        .overlay {
            display: none;
        }
    }
    &.uploading .overlay {
        @include overlay;
    }
}
