.board-index-header {
    grid-area: 1 / 1;
    width: 100%;
    padding: 8px;
    padding-inline-start: 24px;
    background-color: var(--dynamic-background);
    box-sizing: border-box;
    border-bottom: 1px solid var(--dynamic-text-transparent);
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    align-items: center;
    column-gap: 8px;
    border-bottom: 1px solid var(--dynamic-text-transparent);

    .logo {
        height: 16px;
    }

    .user-avatar {
        justify-self: end;
        @include square(32px);
        border-radius: 50%;
        @include flex-center-center();
        @include btn-dynamic-colors();

        img {
            border-radius: 50%;
            @include square(24px);
        }
    }
}
