.board-details-topbar {
    display: flex;
    justify-content: space-between;

    .start-container {
        display: flex;
        align-items: center;
        gap: 6px;

        .editable-title {
            .title {
                border-radius: 3px;
                @include board-details-editable-title();
                @include button-bg(
                    --dynamic-button,
                    var(--dynamic-button-hovered),
                    var(--dynamic-button-hovered)
                );
            }

            textarea {
                @include board-details-editable-title();
            }
        }

        .btn-star {
            @include btn-dynamic-colors();
        }
    }
    .end-container {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .separator {
        border-left: 1px solid var(--dynamic-text-transparent);
        height: 16px;
        margin: 8px 4px 8px 4px;
        display: inherit;
    }
}
