.board-preview {
    width: 100%;
    height: 96px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    display: grid;

    // TABLET AND ABOVE
    @include for-normal-layout() {
        border-radius: 3px;
    }

    > a {
        grid-area: 1/1;
    }
    .bg-image {
        grid-area: 1 / 1;
        background-color: rgba(0, 0, 0, 0.3);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    > .overlay {
        grid-area: 1 / 1;
        background-color: #00000026;
    }

    &:hover > .overlay {
        grid-area: 1 / 1;
        background-color: #0006;
    }

    > h1.title {
        grid-area: 1 / 1;
        padding: 8px;
        color: var(--text-color-light);
        @include font(16px, 20px, 700);
    }

    > .icon.star-icon {
        grid-area: 1 / 1;
        padding: 10px;
        margin-inline-end: -70px;
        align-self: end;
        justify-self: end;
        color: white;
        transition: margin-inline-end 0.2s, transform 0.2s;
        z-index: 2;

        &.starred {
            color: var(--icon-star);
            margin-inline-end: 0;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover .star-icon {
        margin-inline-end: 0;
    }
}
