.primary-btn {
    @include button-bg(
        var(--bg-primary-btn),
        var(--bg-primary-btn-hovered),
        var(--bg-primary-btn-pressed)
    );
    color: var(--text-color-primary-btn);
    height: 32px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(14px, 32px, 500);
}
