.btn-secondary {
    @include button-bg(
        var(--bg-neutral),
        var(--bg-neutral-hovered),
        var(--bg-neutral-pressed)
    );

    padding: 8px 12px;
    font-weight: 500;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 6px;

    .icon {
        color: var(--icon-color);
    }
}
