.task-dates-menu {
    width: 280px;

    h4 {
        @include font(12px, 16px, 700);
        color: var(--text-color-subtle);
        margin-bottom: 4px;
    }

    .btn-save,
    .btn-remove {
        width: 100%;
        margin-bottom: 8px;
    }
}
