.archived-task-preview {
    margin: 8px auto 16px;
    max-width: 260px;

    .card {
        box-shadow: var(--box-shadow-subtle);
        border-radius: 8px;

        padding-top: 8px;
        padding-bottom: 4px;
        padding-inline-start: 12px;
        padding-inline-end: 8px;

        .title {
            margin-bottom: 4px;
            word-wrap: break-word;
            overflow: hidden;
            @include font-p();
        }
    }
    .actions {
        margin-inline-start: 8px;
        display: flex;
        gap: 4px;

        p {
            color: var(--text-color-subtle);
        }
        button {
            color: var(--text-color-subtle);
            text-decoration: underline;
            @include font-p();
        }
    }
}
