.board-menu-archive {
    .controls {
        margin-bottom: 12px;
    }

    .archived-group-li {
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid var(--bg-divider);
    }
}
