.board-menu-main {
    .board-menu-main-list {
        display: flex;
        flex-direction: column;

        & > li {
            margin-bottom: 4px;
            @include button-bg(
                transparent,
                var(--bg-neutral-subtle-hovered),
                var(--bg-neutral-subtle-pressed)
            );
            border-radius: 8px;
            cursor: pointer;
            display: grid;
            align-items: center;

            .title {
                grid-area: 1/1;
                @include font(14px, 20px, 400);
                padding: 6px;
                padding-inline-start: 40px;
            }

            .icon {
                grid-area: 1/1;
                margin-inline-start: 12px;
            }

            .change-background {
                @include square(20px);
                border-radius: 3px;
                background-size: cover;
            }
        }
        hr {
            margin-top: 4px;
        }
    }
}
