.task-comment {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 48px;
    border-inline-start: 4px solid transparent;
    margin-inline-start: -12px;
    position: relative;

    .created-by-avatar {
        position: absolute;
        left: 8px;
    }

    .heading {
        .created-by-fullname {
            @include font(14px, 20px, 700);
            margin-inline-end: 4px;
        }

        .created-at {
            @include font(12px, 14px, 400);

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .text {
        padding: 8px 12px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-inline-end: 2px;
        border-radius: 8px;
        @include font-p();
        box-shadow: var(--box-shadow-subtle);
        background-color: var(--bg-input);
    }

    &.selected {
        background-color: var(--bg-information);
        border-color: var(--border-information);
    }

    .actions {
        button {
            @include font(12px, 24px, 400);
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
