.task-comments {
    grid-area: 1 / 1 / span 1 / -1;
    @include task-details-subsection-grid();

    .btn-create {
        grid-area: 1 / 3;

        width: 100%;
        height: 36px;
        padding: 8px 12px;
        margin-bottom: 8px;
        box-shadow: var(--box-shadow-subtle);
        background-color: var(--bg-1);
        border-radius: 8px;
        @include font-p();

        &:hover {
            background-color: var(--bg-input-hovered);
        }
    }

    .comments-list {
        grid-area: 2 / 1 / span 1 / -1;
    }
}
