.task-comments-form {
    grid-area: 1 / 3;

    textarea {
        width: 100%;
        @include textarea-styling();
        @include font-p();
    }

    .btn-save {
        margin-top: 8px;
    }
}
