.secondary-icon-btn {
    background-color: rgba(9, 30, 66, 0.06);
    padding: 8px 12px;
    font-weight: 500;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
        background-color: rgba(9, 30, 66, 0.15);
    }
}
