.square-icon-btn {
    @include square(32px);
    padding: 8px;
    border-radius: 8px;
    @include flex-center();

    &:hover {
        background-color: var(--bg-neutral-hovered);
    }

    &:active {
        background-color: var(--bg-neutral-pressed);
    }
}
