.task-details-labels {
    padding-top: 8px;
    padding-inline-start: 56px;

    ul {
        display: flex;
        column-gap: 4px;
        padding-bottom: 16px;

        li {
            display: grid;
            height: 32px;
            min-width: 48px;
            box-sizing: border-box;
            border-radius: 3px;
            overflow: hidden;
        }
    }

    h3 {
        margin-bottom: 4px;
    }

    .label-btn {
        grid-area: 1 / 1;
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        line-height: 32px;
        cursor: pointer;

        &:active {
            @include outline-emphasis();
        }
    }

    .overlay {
        grid-area: 1 / 1;
        opacity: 0;
        background-color: var(--bg-neutral-hovered);
    }

    .overlay:hover {
        opacity: 1;
    }
}
