.task-group {
    width: 272px;
    background-color: var(--bg-2);
    border-radius: 12px;
    padding: 8px;
    box-shadow: var(
        --ds-shadow-raised,
        0px 1px 1px #091e4240,
        0px 0px 1px #091e424f
    );
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .header {
        padding-inline-start: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .task-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .add-btn {
        @include button-bg(
            transparent,
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );

        padding-top: 6px;
        padding-bottom: 6px;
        padding-inline-start: 8px;
        padding-inline-end: 12px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}
