.task-preview {
    background-color: var(--bg-1);
    border-radius: 8px;
    box-shadow: var(
        --ds-shadow-raised,
        0px 1px 1px #091e4240,
        0px 0px 1px #091e424f
    );
    overflow: hidden;

    display: grid;

    &:hover {
        @include outline-emphasis();
    }

    .cover {
        height: 36px;
    }

    .title {
        padding: 8px 12px;
    }
}
