.task-preview {
    position: relative;
    background-color: var(--bg-1);
    border-radius: 8px;
    box-shadow: var(--box-shadow-subtle);
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, auto);
    cursor: pointer;

    .container-btn-edit {
        visibility: hidden;
        position: absolute;
        top: 2px;
        right: 2px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-content: center;

        .bg-btn-edit {
            grid-area: 1/ 1;
            background-color: var(--bg-1);
            border-radius: 50%;
            @include square(32px);
        }

        .btn-edit {
            grid-area: 1/ 1;
            @include square(32px);

            .icon {
                @include font-size-and-line-height(16px);
            }
        }
    }

    &:hover {
        @include outline-emphasis();

        .container-btn-edit {
            visibility: visible;
        }
    }

    .content {
        grid-area: 2 / 1;
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: grid;

        .title {
            margin-bottom: 4px;
        }

        .badges {
            display: grid;
            grid-template-columns: repeat(5, auto) 1fr;
            justify-content: start;
            align-items: center;

            .description-badge {
                display: flex;
                align-items: center;
                justify-content: center;
                @include square(20px);
                padding: 2px;
                margin-bottom: 4px;
                margin-inline-end: 4px;
            }
        }
    }
}
