.task-details-sidebar {
    grid-area: sidebar;
    width: 168px;
    padding-inline-end: 16px;
    padding-inline-start: 8px;
    padding-bottom: 8px;

    section {
        margin-bottom: 24px;

        .content {
            display: grid;
            row-gap: 8px;
        }
    }
}
