.task-details-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
}

.task-details-header {
    position: relative;
    grid-area: header;
    padding-inline-start: 56px;
    padding-inline-end: 52px;
    padding-top: 8px;
    padding-bottom: 8px;

    .icon-container {
        position: absolute;
        left: 16px;
        top: 16px;
        @include square(32px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .editable-title {
        padding-top: 12px;
        grid-template-columns: auto;

        .title,
        textarea {
            @include task-details-editable-title();
        }

        textarea {
            padding-top: 6px;
            padding-bottom: 6px;
            margin-top: -6px;
            margin-bottom: -6px;
        }
    }

    .subtitle {
        grid-area: 3 / 3;
        margin-inline-start: 2px;
        margin-inline-end: 8px;
        margin-top: 4px;
        margin-bottom: 12px;

        .group-title {
            text-decoration: underline;
            @include font-p();
            cursor: pointer;
        }
    }
}
