.task-preview {
    position: relative;
    background-color: var(--bg-1);
    border-radius: 8px;
    box-shadow: var(--box-shadow-subtle);
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, auto);

    .edit-btn-container {
        visibility: hidden;
        position: absolute;
        top: 2px;
        right: 2px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-content: center;

        .edit-btn-bg {
            grid-area: 1/ 1;
            background-color: var(--bg-1);
            border-radius: 50%;
            @include square(32px);
        }

        .edit-btn {
            grid-area: 1/ 1;
            @include square(32px);

            .icon {
                @include font-size-and-line-height(16px);
            }
        }
    }

    &:hover {
        @include outline-emphasis();

        .edit-btn-container {
            visibility: visible;
        }
    }

    .content {
        grid-area: 2 / 1;
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: grid;

        .badges {
            display: grid;
            justify-content: start;
        }
    }
}
