.task-details-checklist {
    @include task-details-main-subsection();

    .items {
        grid-area: 4 / 1 / span 1 / span 2;

        li {
            display: grid;
            grid-template-columns: 16px 40px 1fr;
            align-items: center;
        }
    }

    .item-checkbox {
        grid-area: 1 / 2;
        @include square(16px);
    }

    .item-title {
        @include button-bg(
            transparent,
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );

        grid-area: 1 / 3;
        margin-inline-start: -16px;
        padding-inline-start: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 10px;
        @include font-p();

        &.done {
            text-decoration: line-through;
        }
    }

    .add-btn {
        grid-area: 5 / 2;
        margin-top: 8px;
        justify-self: start;
    }
}
