.group-create {
    align-self: start;
    padding: 12px;
    border-radius: 12px;
    width: 272px;
    @include prevent-select();
    @include button-bg(
        var(--bg-group-create),
        var(--bg-neutral-hovered),
        var(--bg-neutral-pressed)
    );

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;

    .title {
        @include font(14px, 20px, 500);
    }
}
