.group-create {
    align-self: start;

    .group-create-btn {
        padding: 12px;
        border-radius: 12px;
        width: 272px;
        @include button-bg(
            var(--bg-group-create),
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );

        gap: 8px;
    }
}
