.group-create {
    align-self: start;

    .btn-group-create {
        padding: 12px;
        border-radius: 12px;
        width: 272px;
        @include button-bg(
            var(--bg-group-create),
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );

        @include backdrop-blur();
        gap: 8px;
    }

    form {
        @include group-preview();
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        row-gap: 8px;
        column-gap: 4px;
        justify-items: start;

        input {
            grid-area: 1 / 1 / span 1 / -1;
            padding: 6px 12px;
            justify-self: stretch;
            outline: none;
            border-radius: 4px;

            &:hover {
                background-color: var(--bg-input-hovered);
                box-shadow: var(--box-shadow-input);
            }

            &:focus {
                background-color: unset;
                box-shadow: var(--box-shadow-input-focused);
            }
        }

        .btn-add {
            width: 74px;
        }
    }
}
