.group-preview-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 4px;

    .editable-title {
        grid-template-columns: auto;

        .title {
            @include group-editable-title();
        }

        textarea {
            @include group-editable-title();
            border-radius: 8px;
        }
    }
}
