.group-preview-menu {
    & > ul {
        & > li.clickable {
            padding: 6px 12px;
            margin: 0 -12px;
            width: 280px;
            @include font-p();
            @include button-bg(
                transparent,
                var(--bg-neutral-hovered),
                var(--bg-neutral-pressed)
            );
        }

        hr {
            margin-top: 8px;
            margin-bottom: 8px;
            height: 1px;
            background-color: var(--bg-divider);
        }
    }
}
