.group-list {
    > li > div {
        height: 100%;
    }
}

.group-preview {
    @include group-preview();
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: var(--text-color);

    .btn-show-add-form {
        border-radius: 8px;
        color: var(--text-color-subtle);
        @include button-bg(
            transparent,
            var(--bg-neutral-hovered),
            var(--bg-neutral-pressed)
        );
    }

    .icon {
        color: var(--text-color-subtle);
    }
}
